{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<div class="jumbotron">
	<center><h1>Yerli Arama Motoru</h1></center>
</div>
<span style="font-size: 14px"></span>
<span style="font-style: normal"><span style="font-weight: normal">
<form action="/website_sorting/" method="post">
    URL:<br>
	<input type="text" name="WebSite">
    <button type="submit" name="add_website">Web Site Ekle</button><br>
    Word:<br>
    <input type="text" name="keyword">
    <button type="submit" name="add_keyword">Anahtar kelime Ekle</button><br>
    <br />
    <button type="submit" name="results">Sonuc</button><br>
    <br />
    <button type="reset" name="reset">Sifirla</button>
    <table style="width:100%">
        {{table1|safe}}
    </table><br><br>
    <table style="width:100%">
        {{table2|safe}}
    </table>
</form>
</span></span>
<center></center>

{% endblock %}